.card{
    width: 300px;
    padding: 1.5rem;
    background-color: blue;
    color: white;
    text-align: center;

}
.grey{
    width: 300px;
    padding: 1.5rem;
    background-color: grey;
    text-align: center;
}
.green{
    width: 300px;
    padding: 1.5rem;
    background-color: green;
    text-align: center;
}